# {{ ansible_managed }}

# Bacula Director Per-Host Configuration
#   for {{inventory_hostname}}
#   via {{groups['bacula-director'][0]}}:director ({{groups['bacula-director'][0]}})
#    to {{groups['bacula-storage'][0]}}:storage:{{inventory_hostname}} ({{groups['bacula-director'][0]}})
#
# These files will be important dynamically by bacula-dir.conf when
# put into the /etc/bacula/bacula-dir.d directory.

# Configure our client so that the Director can contact it
Client {
  Name = "{{inventory_hostname}}"
  Password = "{{bacula_director_password}}"
  Address = {{inventory_hostname}}
  # This will be managed by the default catalog
  Catalog = "{{groups['bacula-director'][0]}}:pgsql"
  # Any files backed up will only be kept for maximum of
  # around 1 month, so we'll set retention of that information
  # to a maximum of 6 weeks
  File Retention = 6 Weeks
  # However, we'll keep a log of all the work done on the server
  # for around a year so we can keep an eye on it and see
  # general progression or changes over time.
  Job Retention = 3 Years
  # Get rid of any data or files as they expire.
  Auto Prune = Yes
}

# Each client will have a dedicated Device on the Storage Daemon,
# so that we can support concurrent backups and have dedicated
# space for it's volumes (which will be managed by the Pools below)
Storage {
  Name = "{{groups['bacula-director'][0]}}:storage:{{inventory_hostname}}"
  Address = {{groups['bacula-director'][0]}}
  Password  = "{{bacula_director_password}}"
  Device = "{{inventory_hostname}}"
  Media Type = File
}
